#videoPd{
    color:rgb(212, 31, 55);
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

#divPd{
    text-align: center;
}

@media screen and (max-width: 480px){
    .iframe__Pd{
        width: 360px;
        height: 215px;
    }
}